@font-face {
    font-family: 'Lalita One';
    src: url(../fonts/LilitaOne-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    background-image: url(../images/assets.png);
    background-size: contain;
}

/* Background van homepage */
.background{
    background-image: url(../images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Button die naar beneden komt */
@keyframes play-animation {
    0% { transform: translate(0, -15em); }
    40% { transform: translate(0, 0em); }
    60% { transform: translate(0, -4em); }
    100% { transform: translate(0, 0); }
}

/* Play button */
.play{
    border: 3px solid white;
    outline: 5px solid black;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background: linear-gradient(rgb(255, 206, 73), rgb(255, 149, 0));;
    font-size: 2em;
    text-decoration: none;
    font-family: 'Lalita One';
    position: absolute;
    left: 25%;
    top: 75%;
    width: 50%;
    text-align: center;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -moz-outline-radius: 10px;
  -webkit-text-stroke-color: black;
  animation: play-animation 2s ease-out;
}

h1{
    display: block;
    height: 100%;
    width: 100%;
    font-family: 'Lalita One';
    text-align: center;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -moz-outline-radius: 10px;
    -webkit-text-stroke-color: black;
    padding-top: 1em;
    padding-bottom: .5em;
    font-size: 3em;
}

a{
    border: 3px solid white;
    outline: 5px solid black;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background: linear-gradient(rgb(164, 229, 255), rgb(49, 186, 255));;
    padding: 10px 2em;
    font-size: 2em;
    text-decoration: none;
    display: block;
    margin: -1.4em auto;
    text-align: center;
    font-family: 'Lalita One';
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -moz-outline-radius: 10px;
    -webkit-text-stroke-color: black;
}

#blue{
    position: relative;
    z-index: 100;
}

#blue:focus{
    outline: 5px solid rgb(255, 28, 28);
    padding: 1em 2em;
    width: 105%;
    display: block;
    margin-left: -2.5%;
    z-index: 100;
}

/* #yellow{
    background: linear-gradient(rgb(255, 237, 164), rgb(255, 217, 49));
}

#green{
    background: linear-gradient(rgb(164, 255, 196), rgb(49, 255, 121));
}

#dkblue{
    background: linear-gradient(rgb(164, 205, 255), rgb(49, 118, 255));
}

#purple{
    background: linear-gradient(rgb(208, 164, 255), rgb(149, 49, 255));
}

#pink{
    background: linear-gradient(rgb(246, 164, 255), rgb(255, 49, 217));
} */

.disabled{
    cursor: not-allowed;
    filter: grayscale(1);
    outline: 5px solid grey;
}

ul{
    overflow-y: scroll;
    width: 60%;
    height: 16em;
    display: block;
    margin: 1em auto 0 auto;
    list-style-type: none;
}

li{
    margin: 3em auto 3em auto;
    width: 85%;
}

::-webkit-scrollbar {
    display: none;
}

section{
    background-color: orange;
    border: 5px solid black;
    border-radius: 10px;
    width: 60%;
    display: block;
    margin: 2em auto;
    height: 20em;
}

div{
    background-color: white;
    width: 95%;
    display: block;
    margin: 1em auto;
    height: 18em;
}

.continue{
    border: 3px solid white;
    outline: 5px solid black;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background: linear-gradient(rgb(255, 206, 73), rgb(255, 149, 0));;
    font-size: 2em;
    text-decoration: none;
    font-family: 'Lalita One';
    position: absolute;
    left: 35%;
    top: 90%;
    width: 30%;
    text-align: center;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -moz-outline-radius: 10px;
  -webkit-text-stroke-color: black;
}

.click{
    position: relative;
    z-index: 100;
    width: 10%;
    margin-top: 16em;
    left: 52%;
    opacity: 0;
    animation: click-animation 1.2s linear;
    animation-iteration-count: infinite;
    animation-delay: 5s;
}

@keyframes click-animation {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.diff1{
    background: linear-gradient(rgb(164, 229, 255), rgb(49, 186, 255));;
}

.diff2{
    background: linear-gradient(rgb(164, 205, 255), rgb(49, 118, 255));
}

.diff3{
    background: linear-gradient(rgb(208, 164, 255), rgb(149, 49, 255));
}

.diffi{
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: -13.5em;
    width: 90%;
}

.diffi li{
    width: 29%;
    display: flex;
    justify-content: center;
}

.diffi li a{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    height: 6em;
    width: 100%;
    margin: auto;
    padding-top: 4em;
}

.ez{
    position: absolute;
    width: 5em;
    height: 5em;
    opacity: 1;
    top: 52%;
}

.jk{
    position: absolute;
    width: 10em;
    height: 10em;
    top: 38%;
    left: 40%;
}