@font-face {
    font-family: "body-font";
    src: url(../fonts/librefranklin-bold.ttf) format("truetype");
}

@font-face {
    font-family: "title-font";
    src: url(../fonts/nicotine.ttf) format("truetype");
}

@font-face {
    font-family: 'Lalita One';
    src: url(../fonts/LilitaOne-Regular.ttf);
}

html, body {
    font-family: "body-font";
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "title-font";
    margin: 0;
}

button {
    position: absolute;
    font-family: "title-font";
    width: 15em;
    top: 1em;
    left: 1em;
    background: linear-gradient(rgb(255, 206, 73), rgb(255, 149, 0));
    border: 3px solid #fff;
    outline: 5px solid #000;
    border-radius: 10px;
    padding: 10px 2em;
}

button:hover {
    background: linear-gradient(rgb(226, 180, 56), rgb(219, 128, 0));
}

.game {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
     url(/assets/drums/game_background1.jpg), 
     url(/assets/drums/game_background2.jpg)
    ;
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: contain; 
}

.game > article {
    position: absolute;
    top: 1em;
    right: 1em;
}

.game article p {
    margin: 0;
}

.game > article h1 {
    font-size: 2em;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}

.game > article p {
    border-radius: 3em;
    width: 40%;
    margin: 0 auto;
    margin-top: .2em;
    font-size: 1em;
    padding-top: .15em;
    padding-bottom: .15em;
    text-align: center;
    background-color: #9279b9;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.game section {
    position: relative;
    display: flex;
    width: 100%;
    height: 30dvh;
    /* background-color: #2c2c2c; */
}

.game section canvas {
    position: fixed;
    right: 0;
}

.game section article {
    position: relative;
    margin: 0;
    padding: 0;
    width: 26%;
    z-index: 9999;
    background-image: url(/assets/drums/system_background.jpg);
    background-size: contain;
}

.game section article .nameplate {
    position: absolute;
    border: 2px solid #000;
    box-shadow: 0 0 10px #000;
    border-radius: 1em 0em 1em 0em;
    text-align: center;
    top: -1em;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    background-image: url(/assets/drums/card_background.jpg);
    background-size: cover;
}

.game section article .nameplate img {
    z-index: -9999;
    left: 0;
    right: 0;
    top: -7.5em;
    margin: 0 auto;
    width: 10em;
    position: absolute;
}

/* .game section article .nameplate:before { 
    content: "";
    position: absolute;
    width: 5em;
    height: 5em;
    background-image: url(/assets/drums/taiko_character.svg);
} */

.game section article .bongo {
    position: absolute;
    right: .5em;
    bottom: .3em;
    max-width: 5em;
    z-index: 9999;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}

.game section article .difficulty {
    position: absolute;
    left: 1.5em;
    bottom: 4em;
    max-width: 7em;
    z-index: 9999;
}

.game section article .bongo img,
.game section article .difficulty img {
    width: 100%;
}

.game section article .difficulty span {
    position: absolute;
    text-align: center;
    font-size: 1.2em;
    font-family: "title-font";
    left: 0;
    right: 0;
    bottom: -.5em;
    margin: 0 auto;
    -webkit-text-fill-color: #000;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}

.game section article .bongo span,
.game section article .bongo p {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.game section article .bongo span {
    top: 0em;
    font-size: 2em;
}

.game section article .bongo p {
    top: 2.5em;
    font-family: "title-font";
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.game section article > span {
    position: absolute;
    background-color: hsla(0, 0%, 29%, 0.257);
    text-align: center;
    font-size: 1.5em;
    width: 85%;
    border-radius: 1em 0em 0em 1em;
    padding: .5em;
    padding-top: .10em;
    padding-bottom: .10em;
    bottom: .2em;
    right: 0;
}

.game section article div p,
.game section article div h2 {
    margin-top: .35em;
    margin-bottom: .35em;
}

.game section .drum {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    right: 1em;
    width: 5em;
    height: 100%;
}

.game section .hitpoint {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-left: 1em;
    margin-right: 1em;
    width: 7em;
    height: 100%;
}

.game section .hitpoint div {
    border-radius: 100%;
    background: 
    radial-gradient(
        #545454 70%,
        transparent 1%
      ),

    radial-gradient(
        #2c2c2c 70%,
        transparent 1%
      ),

    radial-gradient(
        #6f6f6f 70%,
        transparent 1%
      ),
      
    radial-gradient(
        #2c2c2c 70%,
        transparent 1%
      ),

    radial-gradient(
        #454545 70%,
        transparent 1%
      )
    ;
    background-repeat: no-repeat;
    background-size:
    50% 50%,
    61% 61%, 
    65% 65%,
    90% 90%,
    95% 95%
    ;
    background-position: 
    center
    ;
    z-index: 9999;
    margin-top: 1em;
    width: 7em;
    height: 7em;
}

/* .game section .drum:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: .2em;
    height: 100%;
    background-color: #ffffff;
} */

/* .game section .drum p {
    z-index: 9999;
    font-size: 1.3em;
    text-align: center;
    color: #fff;
    -webkit-text-stroke: 1px #000;
}

.game section .drum img {
    z-index: 9999;
    margin-top: 2em;
    width: 5em;
    height: 5em;
} */

@media screen and (min-width: 768px) {
    .game section {
        height: 60dvh;
    }
}

@media screen and (min-width: 868px) {
    .game section {
        height: 30dvh;
    }
}